
#dnmd{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    margin-top: 50px;
}
body{
    margin: 0;
}
footer{
    margin-top: -10px;
}