@font-face {
  font-family: Satoshi;
  src: url("../assets/fonts/Satoshi-Medium.ttf");
}


body{
    margin: 0;
    font-family:Satoshi, sans-serif;
    color: white;
  }
  
#top{
  text-align: center;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  color: #ffffff;
  margin: auto 0;
  text-decoration: none;
}

nav{
  color: white;
  background-color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 20;
  border-bottom: solid rgba(255, 255, 255, 0.433) 1px;

}

nav img{
  width: 30px;
  margin-top: 20px;
  display: flex;
}

nav img:hover{
  scale: 0.95;
  transition: 0.3s;
}

#main {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  padding-top: 50px;
  padding-bottom: 100px;
  margin-top: -70px;
}

#main a{
  text-decoration: none;
  color: white;
}

#title{
  text-align: center;
  padding-top: 100px;
  font-size: 26px;
}

#subtitle h2{
  text-align: center;
  font-size: 17px;
  font-weight: lighter;
  
}
#subtitle{
  padding-bottom: 50px;
}

#list{
  display: flex;
  flex-direction: column;
}
#list p{
  text-align: center;
}
#list1{
  flex-direction: row;
  display: flex;
  justify-content: center;
}

#list2{
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.lection{
  border-style: solid;
  border-color: transparent;
  background-color:transparent;
  border-radius: 15px;
  display: inline;
  width: 33%;
  max-width: 33%;
  border-width: 2px;
  font-size: 20px;
  color: white;
  
  flex-direction: row; 
  
}

.lection3{
  border-style: solid;
  border-color: transparent;
  background-color:transparent;
  border-radius: 15px;
  border-width: 2px;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row; 
  display: inline;
  
}

.boxc2 h3{
  color: black;
  text-decoration: none;
}
.select{
  
  border-width: 2px;
  border-radius: 17px;
  background-color: rgba(255, 255, 255, 0.696);
  width: 100%;
  text-align: center;
  height: 50px;
  margin: auto ;
  margin-bottom: 10px;

}
.select h3 {
  margin: 0;
  line-height: 50px;
  padding: 0 10px;
  
}

#buttons{
  display: none;
  flex-direction: column; 
}
#button1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#button1 .select{
  margin-right: 3px;
  margin-left: 3px;
  width: 120px;
  color: black;
  justify-content: space-between;
}

footer{
  color: whitesmoke;
  background-color: rgb(0, 0, 0);
  position:static;
  bottom: 0;
  left: 0;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 20;
}

#boxfoot{
flex-direction: column;
justify-content: center;
margin: auto;
}

#img2{
  margin-bottom: 100px;
  width: 250px;margin: auto;
  display: flex;
  
}
#img1{
  width: 60px;
  margin: auto;
  padding-bottom: 70px;
  justify-content: center;
  display: flex;
}
footer a{
  justify-content: space-between;
  
}
.boxc2{
  border-style: solid;
  border-color: transparent;
  border: solid black 2px;
  color: black;
  border-radius: 28px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 22px;
  padding-top: 142px;
  max-width: 200px;
  height: 80px;
  min-height: 80px;
  display: block;
  width: 33%;
  margin: 15px;
  overflow: hidden;
  background-color: rgb(10, 38, 53);
  background-image: linear-gradient(to bottom, rgb(17, 113, 165), rgb(10, 38, 53));
 
}
.boxc1{
  border-style: solid;
  border-color: transparent;
  border: solid black 2px;
  color: black;
  border-radius: 28px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 22px;
  padding-top: 142px;
  max-width: 200px;
  height: 80px;
  min-height: 80px;
  display: block;
  width: 33%;
  margin: 15px;
  overflow: hidden;
  background-color: rgb(10, 38, 53);
  background-image: linear-gradient(to bottom, rgb(17, 113, 165), rgb(10, 38, 53));
 
}
.boxc1:hover{
  background-color: rgb(10, 38, 53);
  background-image: linear-gradient(to left, rgb(10, 38, 53), rgb(17, 113, 165));
  transition: 0.5s;
  border: solid white 2px;
  transition: 0.4s;
  cursor: pointer;
  padding-bottom: 160px;
  padding-top: 0px;
  transition: 0.3s;
  margin-bottom: 20px;
}
.boxc1:hover > #buttons{
  display: flex;
}

.boxc3{
  border-style: solid;
  border-color: transparent;
  border: solid black 2px;
  color: black;
  border-radius: 28px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 22px;
  padding-top: 142px;
  max-width: 200px;
  height: 80px;
  min-height: 80px;
  display: block;
  width: 33%;
  margin: 15px;
  overflow: hidden;
  background-color: rgb(10, 38, 53);
  background-image: linear-gradient(to bottom, rgb(17, 113, 165), rgb(10, 38, 53));
 
}


.boxc3:hover{
  background-color: rgb(10, 38, 53);
  background-image: linear-gradient(to left, rgb(10, 38, 53), rgb(17, 113, 165));
  transition: 0.5s;
  border: solid white 2px;
  transition: 0.4s;
  cursor: pointer;
  
  
}
.boxc2:hover{
  background-color: rgb(10, 38, 53);
  background-image: linear-gradient(to left, rgb(10, 38, 53), rgb(17, 113, 165));
  transition: 0.5s;
  border: solid white 2px;
  transition: 0.4s;
  cursor: pointer;
  padding-bottom: 160px;
  padding-top: 0px;
  transition: 0.3s;
  margin-bottom: 20px;
}
.boxc2:hover > #buttons{
  display: flex;
}

.boxc3:hover > #buttons{
  display: flex;
}

#img1:hover{
  scale: 1.2;
  transition: 0.4s;
}
.select:hover{
  scale: 0.98;
  transition: 0.3s;
  background-color: white;
  
}

@media (min-width: 0px) and (min-height: 0px) {
  #title h1 {
    animation: fadeIn 4s forwards;
  }
  #subtitle {
    animation: fadeIn 4s forwards;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 600px) {
  #title{
    font-size: 18px;
  }
  #list{
    flex-direction: column;
    width: 100%;
  }
  nav img{
    display: none;
  }
  #list1{
    flex-direction: column;
    justify-content: center;
  }
  #list2{
    flex-direction: column;
    justify-content: center;
  }
  #top{
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    
  }
  .lection{
    margin: auto;
  }
  .boxc3{
    width: calc(90% - 160px);
    margin: 7px auto;
    padding-top: 70px;
    padding-bottom: 5px;
    max-width: 100%;

  }
  .boxc2{
    width: calc(90% - 160px);
    margin: 7px auto;
    max-width: 100%;
    padding-top: 70px;
    padding-bottom: 5px;
  }

  .boxc1{
    width: calc(90% - 160px);
    margin: 7px auto;
    padding-top: 70px;
    padding-bottom: 5px;
    max-width: 100%;

  }
  #subtitle h2{
    font-size: 13px;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
  }
 
  #main{
    padding-bottom: 50px;
  }
  #img2{
    padding-left: 35px;
  }
}

